#canvas{
    height: 400px;
    width: 100%;
    border: solid 2px black;
}
#level
{
        color:  transparent;
    text-align: center;
        background: url("lvl.gif");
                -webkit-background-clip: text;
    -o-background-clip: text;
    
}
#level_up{
    font-size: 16px;
    color: transparent;
    font-style: oblique;
    background: -moz-linear-gradient(left, red 40%, blue 45%, yellow, pink);
    -webkit-background-clip: text;
    -o-background-clip: text;
    
}

#move
{
    text-align: center;
    color:  red;
    animation: move 5s linear 0s infinite alternate forwards;
}

@keyframes move
{
    0% {color: red;}
    25% {color: purple;}
    50% { color: green;}
    100% { color: pink;}
}
@media (max-width: 600px) and (orientation: portrait)
{
 #canvas{
    height: 550px;
    width: 100%;
    border: solid 2px black;
}
#button_aligner
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-shrink: 1;
    flex-grow: 1;
}
}